################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
/.vs
*.exp
*.ilk
/bin/win64/Debug/default.lib
*.pdb
/bin/win64/Debug/fluidsGL.lib
/bin/win64/Debug/lbm.lib
/default/x64/Debug
/fluidsGL/x64/Debug
/lbm/x64/Debug
/freeglut-3.2.1.tar
/glew-2.1.0/glew-2.1.0
/glew-2.1.0-win32/glew-2.1.0
/lighting/x64/Debug
