################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
*.exp
*.ilk
*.pdb
/bin/win64/Debug/default.lib
/bin/win64/Debug/fluidsGL.lib
/bin/win64/Debug/lbm.lib
/default/x64/Debug
/fluidsGL/x64/Debug
/lbm/x64/Debug
/.vs
